main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    button.btn.btn-default.btn-md Button
    kp-value-editor(
        type="'searchable'"
        ng-model="$ctrl.model"

        placeholder="'placeholder'"
        options="$ctrl.options"
    )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
