main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    kp-universal-form(
        form-settings="$ctrl.options"

        ng-model="$ctrl.model"
    )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
