main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    kp-value-editor(
        type="'acceptable'"
        ng-model="$ctrl.model"

        options="$ctrl.options"
    )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
