main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    button(type="button" ng-click="$ctrl.setModel()") Set

    kp-value-editor(
        type="'acceptable-root'"

        ng-model="$ctrl.model"

        options="$ctrl.options"
    )


    div Model:
    pre {{$ctrl.model | json}}
