main.container(ng-controller="labController as $ctrl")

    kp-universal-form(
        form-id="aj-dyy"
        ng-model="$ctrl.model"
        ng-change="$ctrl.change()"

        form-settings="$ctrl.formSettings"
    )


    div Model:
    pre {{$ctrl.model | json}}

