main.container(ng-controller="labController as $ctrl")

    kp-value-editor-force-settings
        kp-value-editor-force-setting(type="acceptable" options="{switchToInlineModeThreshold: 1}")

        kp-value-editor(
            type="'autocomplete'"

            ng-model="$ctrl.model"

            options=""

            validations=""
        )

    div Model:
    pre {{$ctrl.model | json}}

