main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    div {{$ctrl.model | prop:'id'}}

    form(name="form" style="width: 200px; border: 1px solid gray; padding: 10px;")
        kp-value-editor(
            type="'acceptable-root'"

            ng-model="$ctrl.model"

            options="$ctrl.options"

            validations="{" +
                "required: false" +
            "}"
        )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
