main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    kp-value-editor(
        type="'text'"
        ng-model="$ctrl.model"

        options="{" +
            "switchToTextareaThreshold: 10" +
        "}"

        size="'xs'"
    )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
