@import "~bootstrap-less/bootstrap/variables";

treecontrol.tree-boot {
	li {
		line-height: 30px;

		&.tree-expanded,
		&.tree-collapsed,
		&.tree-leaf {
			i.tree-branch-head {
				padding: 0;
				background: none;
			}
		}

		&.tree-leaf i.tree-branch-head {
			display: block;
			visibility: hidden;
		}

		li {
			margin-top: -1px;
		}
	}

	i.tree-branch-head::before {
		display: block;
		transition: transform 0.2s ease;
	}

	.tree-expanded > .item > .switcher > i.tree-branch-head::before {
		transform: rotate(90deg);
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.tree-label {
		padding: 0 10px;
	}

	.content {
		display: block;
		color: @btn-default-color;
		background-color: @btn-default-bg;
		border-radius: @border-radius-base;
		padding-left: 5px;

		.pretty {
			margin-right: 0;

			.state label {
				text-indent: 0;
			}
		}
	}

	.tree-selected {
		color: @btn-primary-color;
		background-color: @btn-primary-bg;
		border-color: @btn-primary-border;
	}
}

.has-error treecontrol.tree-boot {
	.content,
	.multiselector {
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		border-color: @state-danger-text;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@state-danger-text, 20%);
	}
}

kp-value-editor ~ .error-message.acceptable-root {
	right: auto !important;
	position: relative;
	margin-top: 5px;
}
