<ul {{options.ulClass}} ng-class="'tree-list'">
    <li ng-repeat="$node in $node.{{options.nodeChildren}} | filter:filterExpression:filterComparator {{options.orderBy}}"
        ng-class="headClass($node)"
        {{options.liClass}}
        set-node-to-data>

        <div class="item">
            <div class="switcher" ng-click="toggleNode($node)">
                <i class="tree-branch-head glyphicon glyphicon-triangle-right" ng-class="iBranchClass()"></i>
            </div>

            <div class="content">
                <div class="pretty p-icon p-smooth p-curve p-has-indeterminate">
                    <input type="checkbox" ng-click="selectNode($node); expandSelfAndAllChildren($node)" ng-checked="selectedClass()" kp-indeterminate-checkbox="hasCheckedAnyChild($node) && !selectedClass()">

                    <div class="state p-primary">
                        <i class="icon glyphicon glyphicon-ok"></i>
                        <label></label>
                    </div>

                    <div class="state p-is-indeterminate">
                        <i class="icon glyphicon glyphicon-minus"></i>
                        <label></label>
                    </div>

                </div><!--

            --><div class="tree-label {{options.labelClass}}" ng-class="unselectableClass()" ng-click="selectNode($node); expandSelfAndAllChildren($node)" tree-transclude></div>

            </div>
        </div>

        <treeitem ng-if="nodeExpanded()"></treeitem>
    </li>
</ul>
